<%- include('./partials/header.ejs')%>


<h1 class='title'>Add A filter</h1>
<h3><%=message%></h3>
<div class="content-container">
	<div class="card mt-10" style="width: 35rem;">
  <img src="<%=imageUrl%>" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="row justify-content-between">
		<a href="#" class="btn btn-secondary col-6 col-xl-3 col-lg-4 ">Audrey</a>
		<a href="#" class="btn btn-warning col-6 col-xl-3 col-lg-4">Red Rock </a>
		<a href="#" class="btn btn-primary col-6 col-xl-3 col-lg-4">Frost </a>
		<a href="#" class="btn btn-danger col-6 col-xl-3 col-lg-4">Sizzle </a>
	</div>
  </div>
</div>
	
</div>



<%- include('./partials/footer.ejs')%>
