<%- include('./partials/header.ejs')%>


<h1>Add A filter</h1>
<h3><%=message%></h3>



<div class="card mt-10" style="width: 35rem;">
  <img src="/articles/filter/image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Add Filter</h5>
    <a href="#" class="btn btn-primary">Filter</a>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
