body {
	background-color: lightblue;
	font-family: 'Poppins', sans-serif;
}

.required {

	color: red;
}

.content-container {
	display: flex;
	justify-content: center

}

.article-container {
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
}

.article {
	margin: 10px 10px; 
}

.title {
	text-align: center
}

.prof {
	width: 30px
}

.signature {
	margin-right: 30px;
}

.comments-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


#comments-text {
	width: 38vw;
}

li {
	list-style: none;
}

.comment-divider {

	border-top: 1px solid grey;

}

.fil {
	font-size: .8em;
}