<%- include('./partials/header.ejs')%>


<h1>Add A filter</h1>

<div class="card mt-10" style="width: 35rem;">
  
    <h5 class="card-title">Add Filter</h5>
    <a href="#" class="btn btn-primary">Filter</a>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
